.headerText {

margin-left: 100px;
margin-top: -80px;

}

#delicious{
  font-family: cursive;
}

#foodBlog{
  margin-top: 10px;
  margin-left: 0px;
  font-size: 12px;
}

#media{
float: right;
margin-top: -50px;
}

header {
  border-bottom-style: solid;
  width: 960px;
}

body {
  width: 960px;
}

#posted{
  position: absolute;
  margin-top: -25px;
}

.printIcon{
  margin-left: 850px;

}

#listOne{
  position: absolute;
  margin-top: -300px;
  z-index: 3
}

#listTwo{
position: absolute;
}



.linePaper{
  z-index: 1;
}
