
.headerText {

margin-left: 50px;
margin-top: -80px;

}

#delicious{
  font-family: cursive;
}

#foodBlog{
  margin-top: -20px;
  margin-left: 0px;
  font-size: 12px;
}

#media{
float: right;
margin-top: -50px;
}

header {
  border-bottom-style: solid;
  width: 960px;
}

body {
  width: 960px;
}

#posted{
  position: absolute;
  margin-top: -25px;
}

.printIcon{
  margin-left: 850px;

}

#listOne{
  position: absolute;
  margin-top: -250px;
  margin-right: 50px;
  z-index: 3;
  font-size: 20px;
  list-style: none;
}

#listTwo{
position: absolute;
margin-top: -250px;
z-index: 3;
margin-left: 465px;
font-size: 20px;
list-style: none;
}



.linePaper{
  z-index: 1;
}

.stuff {
  display: inline-block;
}

#button {
  display: inline-block;
}

#logo{
  margin-left: 450px;

}

footer {
  border-top-style: solid;
}

.copyright{
  text-align: center;
}
